
<div class="container">
  <h1>Welcome to Hacker News!</h1>
  <p>Please enter your username and password</p>

  <h4 id ='error'> <%=@require_reg ? @require_reg : @require_signin%> </h4>

  <form class ='login' action='/posts' method='post'>
    <input type="field" name="username" placeholder="username"></input>
    <br>
    <input type="password" name="password" placeholder="password"></input>
    <br>
    <input type="submit" value="Log in!"></input>
  </form>

  <form class ='signin' action='/posts/signup' method='post'>
    <input type="field" name="username" placeholder="username"></input><br>
    <input type="password" name="password" placeholder="password"></input><br>
    <input type="submit" value="Sign up!"></input>
  </form>  

</div>
